--allman false
--binarygrouping none
--closingparen balanced
--commas always
--comments ignore
--decimalgrouping none
--disable blankLinesAtStartOfScope,blankLinesAtEndOfScope
--elseposition same-line
--empty void
--exclude Carthage,Package.swift
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping alphabetized
--indent 4
--indentcase true
--linebreaks lf
--octalgrouping none
--operatorfunc spaced
--patternlet inline
--ranges no-space
--self init-only
--selfrequired 
--semicolons inline
--stripunusedargs closure-only
--trimwhitespace nonblank-lines
--wraparguments preserve
--wrapcollections after-first
