# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/

version: 2.1

aliases:
  - &restore_gem_cache
      name: Restore gem cache
      keys:
        - gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
        - gem-cache-v1-{{ arch }}-{{ .Branch }}
        # Fall back to using the latest cache if no exact match is found.
        - gem-cache-v1
  - &save_gem_cache
      name: Save gem cache
      key: gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
      paths:
        - gems
  - &bundle_install
      name: Install Gems via Bundler
      command: bundle install --path gems
  - &restore_carthage_cache
      name: Restore Carthage cache
      keys:
        - carthage-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Cartfile.resolved" }}
        - carthage-cache-v1-{{ arch }}-{{ .Branch }}
        # Fall back to using the latest cache if no exact match is found.
        - carthage-cache-v1
  - &save_carthage_cache
      name: Save Carthage cache
      key: carthage-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Cartfile.resolved" }}
      paths:
        - Carthage
  - &bootstrap_if_needed
      name: Bootstrap Carthage
      command: |
        if ! cmp -s Cartfile.resolved Carthage/Cartfile.resolved; then
          carthage bootstrap
          cp Cartfile.resolved Carthage
        fi

jobs:
  build-test:

    macos:
      xcode: 11.7.0
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: test

    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - restore_cache: *restore_gem_cache
      - run: *bundle_install
      - save_cache: *save_gem_cache
      - restore_cache: *restore_carthage_cache
      - run: *bootstrap_if_needed
      - save_cache: *save_carthage_cache
      - run:
          name: Install simulators
          command: xcrun simctl create 'iPhone 5s (12.4)' com.apple.CoreSimulator.SimDeviceType.iPhone-5s com.apple.CoreSimulator.SimRuntime.iOS-12-4
      - run:
          name: Fastlane
          command: export TERM=${TERM:-dumb} && bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan

workflows:
  build-test:
    jobs:
      - build-test:
          context:
            - ios-context
